<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>643478479706-c5ibt5ruvrj0ikhomihfe5ujhkgcl1ed.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.643478479706-c5ibt5ruvrj0ikhomihfe5ujhkgcl1ed</string>
	<key>API_KEY</key>
	<string>AIzaSyDALYd_u1AMjPqTHfTqF_vK_viDHGCYRF4</string>
	<key>GCM_SENDER_ID</key>
	<string>643478479706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pcminh0505.Sporter</string>
	<key>PROJECT_ID</key>
	<string>sporter-3a24f</string>
	<key>STORAGE_BUCKET</key>
	<string>sporter-3a24f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:643478479706:ios:470296ddc7ba768e0f8963</string>
</dict>
</plist>